langchain==0.3.14
langchain-google-genai==2.0.9
langchain_chroma
langchain_community
langchain_huggingface
duckduckgo-search
chromadb==0.5.23
pydantic==2.10.5
pypdf==5.1.0
google-api-python-client==2.159.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
streamlit==1.41.1
python-dotenv==1.0.1
moviepy==1.0.3
openai-whisper==20240930
reportlab==4.2.5
Unidecode==1.3.8